# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environments
env/
venv/
.idea/
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env

# Dependencies
*.egg-info/
